<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mbieniek.facebookimagepicker">

    <application>
        <activity android:name=".facebook.FacebookLoginActivity"></activity>
        <activity android:name=".facebook.FacebookAlbumPickerActivity" />
        <activity android:name=".facebook.FacebookImagePickerActivity" />
    </application>

</manifest>